body{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
}

/* navbar start*/
.container{
	width: 85%;
	padding-top: 10px;
	padding-bottom: 2px;
}
.mainmanu{
	background-color: #f0fff0;
}
.navbar-brand img{
	height: 50px;
}
.nav-link {
	
	font-size: 14px;
	margin-right: 20px;
	font-size: 16px;
}
.btn{
	display: flex;
    background: #21B573; 
    padding: 5px 0px;
    flex-direction: row;
    border-radius: 35px;
    width: 109px;
    height: 43px;
}
.btn-primary{
    background: #21B573;
    border-radius: 30px;
    border: none;  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #34b67b;
    border-color: none;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #21B573;
    border: none;
}

/* navbr end  */

.middle-body{
	background-color: #E5E5E5;;
}
/* about strt  */
.about-height{
	height:576px;
}
.aboutim{
	position: relative;
}
.about-img img{
	width: 100%;
	display: block;
	position: absolute;
	margin:100px auto;
}
span.font-color{
color: #21B573;
}
.btn{
	display: flex;	
	background: #21B573;
	padding:100spx;
	padding: 8px 30px;
	flex-direction: row;
	border-radius: 33px;
	width: 153px;
	height: 43px;	
}
.btn a{
	margin:0px auto;
	color: #ffffff;
	text-decoration: none;
}


/* book part sart  */
.book-part{
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #E5E5E5;
}
.bg-color{
	background-color:#F8FFFB;	
}
.bg-imges img{	
	width: 66px;
    height: 85px;
    margin: 31px auto 0px;
}
.bg-color:hover{
	background-color:white;
	box-shadow: 5px 5px 10px gray;
}

/* book part end  */



/* online corses start  */
.online-course{
	margin-top: 150px;
	margin-bottom: 10px;
	background-color: #E5E5E5;
}
.title-height{
	margin-bottom: 80px;
}
button.btn1{
	display: flex;	
	background: #21B573;
	padding:100px;
	padding: 4px 15px;
	flex-direction: row;
	border-radius: 33px;
	width: 130px;
	height:30px;
	border: none;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-top: 0px;
}
.btn1 a{
	margin:0px auto;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}
.card1{
	border: none;
	box-shadow: 5px 5px 30px lightgray;
	border-radius: 10px;
}
.card-footer{
	background-color:white;
	border: none;
	border-radius: 10px;
}
.bg-imges2 img{
	width: 90%;
	margin:10px auto;
	
}
.border-redius{
	border-radius: 10px 10px 10px 10px;
}
.course1 img{
	width: 24px;
	height: 24px;
}

.course1 p{
	display: inline;
}
/* online corses end  */


/* testimonial start  */
.testimonial{
	margin-top: 50px;
	margin-bottom: 0px;
}
.back-color{
	background: #C4C4C4;
	
}
.title-height02{
	margin-top: 100px;
	margin-bottom: 50px;

}
.content-text {
	width: 60%;
	margin: 0px auto;
	margin-bottom: 100px;
}
.content-text img{

width: 120px;
height: 120px;
}
.content-text p{
	display: inline-block;
}

/* testimonial end  */


/* catagories  */
.textheight{
	margin-top: 30px;
	margin-bottom:100px;
}

.row{
	margin-top:30px;
}


.box-design{
	width: 90%;
    height: 153px;
    border:5px solid gray;
    box-shadow: 1px 1px 50px gray;
	box-shadow: 1px 1px 50px lightgray;
	
	padding: 2px;
}

.slid-img img{
	width:90%;
	height:140px;
	display: block;
}

/* catagories  */
.text-center h3{
	font-weight:bold;
}
.header-color{
	background-color:  #F0FFF0;
}
.margin-top{
	margin-top: 50px;
}
.mrgin-bottom01{
	
	height:700px;
}


/* footer start */
.footer{
	background-color: #282531;
}
.f-size h4 {
	font-weight: bold;
	font-size: 22px;
	color: white;
	
	
}
.f-size p{
	font-weight: 0px;
	line-height:20px;
	color: white;
	font-style: normal;
   font-size: 16px;
  line-height: 30px;
	
}
.ff-size p{
	color: white;
	font-size: 16px;

}
.footer-bottom{
	color: #CDCDCD;
	font-size: 14px;

}

/* footer end  */
.footer-bottom p{
	margin-top: 50px;
	
}